body{
	background-image: url("../images/sos.png");
}
#bleh{
	text-align: center;
}
a:hover, a:visited, a:link, a:active, nav{
    text-decoration: none;
}
@media (max-width: 1024px) { /*for ipad*/
	body{
		background-color: red;
	}

}
@media (max-width: 320px) { /*for iphone 5*/
	body{
		background-color: blue;
	}

}